/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

/*header*/

.header{
    background-image: url(../img/banner.png);
    height: 958px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.header-inner{
    padding-top: 80px;
}

.header h1{
    font-size: 80px;
    color: #fff;
    padding-bottom: 30px;
}

.header span{
    font-size: 24px;
    color: #fff;
}

.header p{
    font-size: 24px;
    color: #fff;
    padding-bottom: 30px;
}

.header ul{
    display: flex;
}

.header ul li{
    padding-right: 30px;
}

/*about*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.about-inner{
    width: 500px;
    position: relative;
}

.about h2{
    font-size: 64px;
    color: #000;
    padding-bottom: 30px;
}

.about img{
    padding-bottom: 30px;
}

.about ul li{
    font-size: 24px;
    color: #000;
    padding-bottom: 20px;
}

.under{
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.about p{
    font-size: 24px;
    color: #000;
    padding-bottom: 10px;
}

/*圓點製作*/

.origin{
    width: 22px;
    height: 22px;
    background: #891818;
    border-radius: 50%;
}

.one{
    position: absolute;
    bottom: 89px;
    left: 96px;
}

.two{
    position: absolute;
    bottom: 48px;
    left: 139px;
}

.three{
    position: absolute;
    bottom: 10px;
    left: 88px;
}

/*brand*/

.brand{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.brand-inner{
    width: 1200px;
}

.brand h2{
    font-size: 64px;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}

.brand p{
    font-size: 20px;
    color: #fff;
    line-height: 30px;
   padding: 0 477px 50px 460px;
}

.brand ul{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.brand-top{
    padding-left: 188px;
    padding-bottom: 30px;
}


.brand-left{
    padding-right: 20px;
}

/*works*/

.works{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.works-inner{
    width: 1220px;
}

.works h2{
    font-size: 64px;
    color: #000;
    padding-bottom: 30px;
}

.works p{
    font-size: 20px;
    line-height: 30px;
    color: #000;
    padding-bottom: 50px;
}

.works ul{
    display: flex;
    flex-wrap: wrap;
}

.works ul li{
    padding-right: 20px;
}

/*footer*/

.footer{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer h2{
    font-size: 64px;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer ul{
    padding-bottom: 50px;
}

.footer ul li{
    padding-bottom: 30px;
}

.footer ul li a{
    font-size: 24px;
    color: #fff;
}